.header {
  background: var(--main-bg-color);
  position: relative;

  &::before {
    content: url(../../images/himg.png);

    position: absolute;
    right: 0;

    opacity: 0.3;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 0;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 64px;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 53px;
  }

  &__item {
    color: #36536b;
    font-family: Public Sans Bold;
    font-size: 15px;
    line-height: normal;

    opacity: 0.699999988079071;
  }
  &__item:hover {
    opacity: 1;
  }
  &__item:active {
    opacity: 0.699999988079071;
  }
}
.dropdown {
  display: none;
  &__svg {
    display: none;
  }
}
@media only screen and (max-width: 769px) {
  .header {
    &::before {
      content: url(../../images/h2img.png);
    }
  }
}

@media only screen and (max-width: 767px) {
  .dropdown {
    // display: block;
    &__svg {
      display: block;
    }
  }
  .header {
    &__list {
      display: none;
    }
    &__btn {
      display: none;
    }
  }
}
@media only screen and (max-width: 375px) {
  .header {
    &::before {
      content: url(../../images/h3img.png);
    }
  }
}
