.hero {
  background: #edf3f8;
  padding: 74px 0 76px;

  
  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    max-width: 546px;
    margin-bottom: 41px;

    color: #36536b;
    font-family: DM SerifDisplay;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -0.554px;
  }
  .div {
    width: 263px;
    height: 500px;
    background: linear-gradient(
      180deg,
      #9cb6cd 0%,
      #9ab3ca 42.06%,
      #557496 71.66%,
      #475178 100%
    );
    border: 12px solid rgb(1, 1, 44);
    border-radius: 25px;

    position: relative;
z-index: 1;
    .ker {
      width: 100px;
      height: 15px;
      margin: 0 auto;
      background: rgb(1, 1, 44);
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
    }
  }

  .input {
    border-radius: 24px;
    border: none;
    padding: 15px 50px 15px 27px;
    margin-bottom: 16px;

    background: #fbfcfe;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);

    color: #36536b;
    font-family: Public Sans Bold;
    font-size: 15px;
    line-height: normal;
  }
  &__text {
    margin-left: 27px;
  }
  &__btn {
    margin-left: -30.23px;
  }
}

@media only screen and (max-width: 1010px) {
  .hero {
    &__title {
      font-size: 60px;
      line-height: 60px;
    }
  }
}
@media only screen and (max-width: 940px) {
  .hero {
    &__title {
      font-size: 50px;
      line-height: 50px;
    }
    .div {
      width: 200px;
      height: 427px;
    }
    &__content {
      padding-right: 100px;
    }
  }
}
@media only screen and (max-width: 860px) {
  .hero {
    .div {
      width: 200px;
      height: 350px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    padding: 48px 0 99px;
    &__box {
      flex-direction: column-reverse;
      text-align: center;
      gap: 49px;
    }
    &__content{
      padding: 0;
    }
    &__title {
      margin-bottom: 22px;

      font-size: 48px;
      line-height: 56px;
    }
    .div {
      width: 156px;
      height: 300px;
    }
    &__text {
      margin: 0;
    }
  }
}

@media only screen and (max-width: 573px) {
  .hero {
    &__title {
      font-size: 35px;
      line-height: 43px;
    }
  }
}
@media only screen and (max-width: 460px) {
  .form {
    display: flex;
    flex-direction: column;
  }

  .hero {
    &__btn {
      margin-left: 0;
    }
    .input {
      padding: 15px 20px;
    }
  }
}
@media only screen and (max-width: 404px) {
  .hero {
    &__title {
      font-size: 32px;
      line-height: 36px;
    }
    &__btn {
      margin-left: 0;
    }
    .input {
      padding: 15px 20px;
    }
  }
}
