.simple {
  background: var(--main-bg-color);

  &::before {
    content: url(../images/mimg.png);

    position: absolute;

    opacity: 0.3;
    right: 0;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 150px 0 0;
  }
  &__imgs {
    display: flex;
    align-items: center;
    gap: 46px;
  }
  &__title {
    margin-bottom: 24px;

    color: #36536b;
    font-family: DM SerifDisplay;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.369px;
  }
  &__text {
    max-width: 445px;

    color: #36536b;
    font-size: 15px;
    line-height: 28px;

    opacity: 0.699999988079071;
  }
}

@media only screen and (max-width: 1130px) {
  .simple {
    &__text {
      max-width: 300px;
    }
    &__title {
      font-size: 40px;
      line-height: 50px;
    }
  }
}
@media only screen and (max-width: 900px) {
  .simple {
    &::before {
      display: none;
    }
    &__box {
      flex-direction: column-reverse;
      text-align: center;
    }
    &__imgs {
      margin-bottom: 48px;
    }
    &__text {
      max-width: 573px;
    }
    &__title {
      font-size: 48px;
      line-height: 56px;
    }
  }
}
@media only screen and (max-width: 410px) {
  .simple {
    &__box {
      padding: 100px 0 0;
    }
    &__title {
      font-size: 36px;
      line-height: 36px;
    }
    &__imgs {
      gap: 20px;
    }
  }
}
